@page
@model CustomersModel
@{
    ViewData["Title"] = "All customers";
}
<h1>@ViewData["Title"]</h1>

@section Styles
{
    <link rel="stylesheet" href="~/css/mvc-grid/mvc-grid.css">
}

<vc:customer-table show-all="true"/>

@section Scripts
{
    <partial name="Shared/MvcGrid/_GridScripts" />
}
